body {
    background-color: #eeeaea;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: rgb(18, 17, 17);
  }
  
  .login-page h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .login-page form {
    margin-bottom: 20px;
  }
  
  .login-page label {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .login-page input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .login-page button {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    background-color: rgb(102, 91, 219);
    color: white;
    cursor: pointer;
  }
  
  .logos_content {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    margin: 4px 0;
  }
  
  
  .homepage_components{
    display:flex;
    padding-top: 100px;
    justify-content: space-around;
  }
  a{
    text-decoration: none;
    color:black;
  }
  .contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .remember {
    display: flex;
    align-items: center;
  }
  
  .remember input[type="checkbox"] {
    margin-right: 5px;
  }
  .starting_Contents {
    display: flex;
    align-items: center;
  }
  .logo-container {
    margin-left: 10px;
  }
  .line-with-text {
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .line-with-text hr {
    flex: 1;
    border: none;
    height: 1px;
    background-color: rgba(36, 36, 36, 0.596); 
    margin: 0 10px; 
  }
  
  